.cart-container{
    padding: 40px 110px;
}
.cart-container h3{
    text-align: center;
    color: #F55B5B;
    margin-bottom: 50px;
}
.cart-content-father{
    background-color: #f3f3f3;
    padding: 5px 0;
    margin-top: 15px;
    margin-bottom: 20px;
}
.cart-container p{
    text-align: center;

}
.cart-content{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 10px 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.cart-item{
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}
.cart-item:hover{
    background-color: #f3f3f3;
}
.cart-item-img{
    height: 120px;
    padding: 0 70px;
}
.cart-item img{
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 120px;
    padding: 4px;
    aspect-ratio: 1/1;
}
.name{
    color: #0D6EFD;
}
.grid{
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    gap: 1px;
}
.cart-item-title{
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.grid p{
    text-align: center;
}
.cart-item-quantity{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.cart-item-quantity span{
    font-size: 18px;
    color: #000;
    background-color: #ccc;
    padding: 2px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.empty-cart{
    padding: 70px;
    font-size: 20px;
    text-align: center;
    color: #0D6EFD;
}

.cart-payment button{
    padding: 10px;
    background-color: #4B382A;
    color: #f3f3f3;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}
h4{
    color: #F55B5B;
    font-size: 18px;
}
.cart-payment{
    display: flex;
    gap: 10px;
}
.payment{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.change-payment{
    padding: 8px;
}
.option{
    padding: 8px;
}
.payment label{
    font-size: 14px;
}
.payment-1,.payment-2{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.payment-contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.payment-contact-facebook,.payment-contact-hotline,.payment-contact-zalo{
    display: flex;
    gap: 10px;
    font-size: 14px;
    align-items: center;
}
.payment-contact-zalo div{
    padding: 8px;
    border: 1px solid #000;
    background-color: tomato;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .cart-payment{
        flex-direction: column;
    }
    .form-container,.payment{
        width: 100%!important;
    }
    option{
        font-size: 12px;
    }
    .cart-container h3{
        margin: 10px;
    }
    .cart-item-img{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cart-item img{
        width: 60px;
    }
    .cart-item-quantity{
        flex-direction: column;
        gap: 0;
    }
    .cart-item-title{
        height: 100%;
    }
    .cart-item-title p{
        font-size: 14px;
        line-height: 1.5;
    }
}