.product-item-form-container{
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vw;
    background-color: #00000090;
    display: flex;
    justify-content: center;
}
.product-item-form-container .form-container{
    height: 75vh!important;
    margin-top: 10vh;
}
.product-item-form-container span{
    position: absolute;
    top: 12vh;
    padding:10px;
    right: 27vw;
    cursor: pointer;
}